<div class="left-side">
    <section class="hand-ranking-form">
        <h2 class="section-heading">What cards make up your Poker hand?</h2>
        <form [formGroup]="pokerHandForm" (submit)="submitPokerHand()">
            <div>
                <label for="first-card">First Card</label>
                <select id="first-card" formControlName="firstCard" >
                    <option [ngValue]="null" disabled>Select a card</option>
                    @for (card of pokerCardList; track card.value) {
                        <option [ngValue]=card.value>{{ card.display }}</option>
                    }
                </select>
                <label for="second-card">Second Card</label>
                <select id="second-card" formControlName="secondCard" >
                    <option [ngValue]="null" disabled>Select a card</option>
                    @for (card of pokerCardList; track card.value) {
                        <option [ngValue]=card.value>{{ card.display }}</option>
                    }
                </select>
                <label for="third-card">Third Card</label>
                <select id="third-card" formControlName="thirdCard" >
                    <option [ngValue]="null" disabled>Select a card</option>
                    @for (card of pokerCardList; track card.value) {
                        <option [ngValue]=card.value>{{ card.display }}</option>
                    }
                </select>
                <label for="fourth-card">Fourth Card</label>
                <select id="fourth-card" formControlName="fourthCard" >
                    <option [ngValue]="null" disabled>Select a card</option>
                    @for (card of pokerCardList; track card.value) {
                        <option [ngValue]=card.value>{{ card.display }}</option>
                    }
                </select>
                <label for="fifth-card">Fifth Card</label>
                <select id="fifth-card" formControlName="fifthCard" >
                    <option [ngValue]="null" disabled>Select a card</option>
                    @for (card of pokerCardList; track card.value) {
                        <option [ngValue]=card.value>{{ card.display }}</option>
                    }
                </select>
            </div>
            <br/>
            <button type="submit" class="primary">Submit</button>
        </form>
    </section>
</div>
<div class="divider" role="separator" aria-label="Divider"></div>
<div class="right-side">
    <div class="hand-ranking-result">
        <h2 class="section-heading">Result:</h2>
        <span>{{ rankingResult?.msg }}</span>
    </div>
</div>
