<div class="left-side">
    <section class="hand-ranking-form">
        <h2 class="section-heading">What cards make up your Poker hand?</h2>
        <form [formGroup]="pokerHandForm" (submit)="submitPokerHand()">
            <div>
                <label for="first-card">First Card</label>
                <div>
                    <select id="first-card-value" formControlName="firstCardValue" >
                        <option [ngValue]="null" disabled>Select a value</option>
                        @for (card_val of pokerCardValues; track card_val.value) {
                            <option [ngValue]=card_val.value>{{ card_val.display }}</option>
                        }
                    </select>
                    <select id="first-card-suit" formControlName="firstCardSuit" >
                        <option [ngValue]="null" disabled>Select a suit</option>
                        @for (suit of pokerCardSuits; track $index) {
                            <option [ngValue]=suit[0]>{{ suit }}</option>
                        }
                    </select>
                </div>
                <label for="second-card">Second Card</label>
                <div>
                    <select id="second-card-value" formControlName="secondCardValue" >
                        <option [ngValue]="null" disabled>Select a value</option>
                        @for (card_val of pokerCardValues; track card_val.value) {
                            <option [ngValue]=card_val.value>{{ card_val.display }}</option>
                        }
                    </select>
                    <select id="second-card-suit" formControlName="secondCardSuit" >
                        <option [ngValue]="null" disabled>Select a suit</option>
                        @for (suit of pokerCardSuits; track $index) {
                            <option [ngValue]=suit[0]>{{ suit }}</option>
                        }
                    </select>
                </div>
                <label for="third-card">Third Card</label>
                <div>
                    <select id="third-card-value" formControlName="thirdCardValue" >
                        <option [ngValue]="null" disabled>Select a value</option>
                        @for (card_val of pokerCardValues; track card_val.value) {
                            <option [ngValue]=card_val.value>{{ card_val.display }}</option>
                        }
                    </select>
                    <select id="third-card-suit" formControlName="thirdCardSuit" >
                        <option [ngValue]="null" disabled>Select a suit</option>
                        @for (suit of pokerCardSuits; track $index) {
                            <option [ngValue]=suit[0]>{{ suit }}</option>
                        }
                    </select>
                </div>
                <label for="fourth-card">Fourth Card</label>
                <div>
                    <select id="fourth-card-value" formControlName="fourthCardValue" >
                        <option [ngValue]="null" disabled>Select a value</option>
                        @for (card_val of pokerCardValues; track card_val.value) {
                            <option [ngValue]=card_val.value>{{ card_val.display }}</option>
                        }
                    </select>
                    <select id="fourth-card-suit" formControlName="fourthCardSuit" >
                        <option [ngValue]="null" disabled>Select a suit</option>
                        @for (suit of pokerCardSuits; track $index) {
                            <option [ngValue]=suit[0]>{{ suit }}</option>
                        }
                    </select>
                </div>
                <label for="fifth-card">Fifth Card</label>
                <div>
                    <select id="fifth-card-value" formControlName="fifthCardValue" >
                        <option [ngValue]="null" disabled>Select a value</option>
                        @for (card_val of pokerCardValues; track card_val.value) {
                            <option [ngValue]=card_val.value>{{ card_val.display }}</option>
                        }
                    </select>
                    <select id="fifth-card-suit" formControlName="fifthCardSuit" >
                        <option [ngValue]="null" disabled>Select a suit</option>
                        @for (suit of pokerCardSuits; track $index) {
                            <option [ngValue]=suit[0]>{{ suit }}</option>
                        }
                    </select>
                </div>
            </div>
            <br/>
            <button type="submit" class="primary">Submit</button>
        </form>
    </section>
</div>
<div class="divider" role="separator" aria-label="Divider"></div>
<div class="right-side">
    <div class="hand-ranking-result">
        <h2 class="section-heading">Result:</h2>
        <span>{{ rankingResult?.msg }}</span>
    </div>
</div>
